body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #e0e0e0;
  background-color: #333333;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

#settings {
  display: flex;
  gap: 16px;
}

#container {
  margin: 16px auto;
  display: flex;
  flex: 0;
  flex-wrap: wrap;
  box-sizing: content-box;
  border: solid;
  border-width: 1px;
  background-color: white;
}

#container .block {
  box-sizing: border-box;
  background-color: #e0e0e0;
  user-select: none;
}

#bottomBtns {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#default {
  color: #fff;
  background-color: black;
}

#rgb {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: #fff;
  -webkit-text-stroke: 4px #000;
  paint-order: stroke fill;
}

#shade {
  background-color: #999;
}

#eraser {
  font-size: 16px;
  background-color: #f4a29d;
  width: 80px;
}
